<!DOCTYPE html>
<html>
    <head>
        <title>#{get 'title' /}</title>
        <meta charset="utf-8">  
        <link rel="shortcut icon" type="image/png" href="@{'/public/images/favicon.png'}" />
        
        #{stylesheet 'reset.css' /}
        #{stylesheet 'jquery.jscrollpane.css' /}
        #{stylesheet 'main.css' /}
        
        #{script 'jquery-1.4.2.min.js' /}
        #{script 'plugins/flot/jquery.flot.js' /}   
        #{script 'plugins/scrollbar/jquery.mousewheel.js' /}   
        #{script 'plugins/scrollbar/jquery.jscrollpane.min.js' /}   
        #{script 'global.js' /}   
    </head>
    <body>
    	<div id="all">
    		<header>
    			Header
    		</header>
    		<nav>
    			Sidebar
    			<br /><br /><br /><br /><br /><br /><br /><br /><br />
    			<br /><br /><br /><br /><br /><br /><br /><br /><br />
    			<br /><br /><br /><br /><br /><br /><br /><br /><br />
    			<br /><br /><br /><br /><br /><br /><br /><br /><br />
    			<br /><br /><br /><br /><br /><br /><br /><br /><br />
    			<br /><br /><br /><br /><br /><br /><br /><br /><br />
    			<br /><br /><br /><br /><br /><br /><br /><br /><br />
    			<br /><br /><br /><br /><br /><br /><br /><br /><br />
    			It's bigger than your mom.
    		</nav>
    		<article>
        		Article
    			<br /><br /><br /><br /><br /><br /><br /><br /><br />
    			<br /><br /><br /><br /><br /><br /><br /><br /><br />
    			<br /><br /><br /><br /><br /><br /><br /><br /><br />
    			<br /><br /><br /><br /><br /><br /><br /><br /><br />
    			<br /><br /><br /><br /><br /><br /><br /><br /><br />
    			<br /><br /><br /><br /><br /><br /><br /><br /><br />
    			It's also pretty big.
        	</article>
        	<footer>
        		Footer
        	</footer>
        </div>
    </body>
</html>
