#{extends 'main.html' /}

#{set title: ' Userlist' /}

<table id="userlist">
	<tr>
		<th>Username</th>
		<th>E-Mail</th>
		<th></th>
		<th></th>
	</tr>

	#{list items: users, as: 'luser'}
		<tr>
			<td>${luser.name}</td> 
			<td>${luser.email}</td>
			<td>
				#{if luser!=user && !luser.name.equals("Anonymous")}
					<a href="@{Admin.deleteUser(luser.id)}">Delete</a>
				#{/if}
			</td>
			<td>	
				#{if !luser.isAdmin && !luser.name.equals("Anonymous")}
					<a href="@{Admin.toggleAdminState(luser.id)}">Set Admin</a>
				#{/if}
			</td>
		</tr>
	#{/list}
</table>