#{extends 'main.html' /}

#{set title: ' Userlist' /}

<dl>

<dt><b style="color: white;">Username</b></dt> <dd><b style="color: white;">E-Mail </b></dd>

#{list items: users, as: 'luser'}

<dt>${luser.name}</dt> 
<dd>${luser.email}
#{if luser!=user && !luser.name.equals("Anonym")}<a style="position: absolute; left: 520px;" href="@{Admin.deleteUser(luser.id)}">Delete</a>#{/if}
#{if !luser.isAdmin && !luser.name.equals("Anonym")}<a style="position: absolute; left: 590px;" href="@{Admin.toggleAdminState(luser.id)}">Set Admin</a>#{/if}

</dd>

#{/list}

</dl>