<b>Latest 10 activities:</b> <br />
	    	#{if user.getActivities(1).size()!=1}
	    		There were no activities.
	    	#{/if}
	    	#{else}
	    		#{list items:user.getActivities(10), as:'activity'}
	    			<dl id="activity">
	    			#{if activity instanceof models.Answer}

	    				<dt><div class="activity-date">${activity.timestamp.format('MMM')}<br />${activity.timestamp.format('dd')} </div><div class="activity-box"> answered </div><div class="clear"> </div></dt>  
	    				<dd><a class="activity" href="@{Application.question(activity.question.id)}#${activity.id}">${activity.question.title}</a>  </dd>
	    			#{/if}
	    			#{else}
	    				<dt><div class="activity-date">${activity.timestamp.format('MMM')}<br />${activity.timestamp.format('dd')} </div><div class="activity-box"> asked </div> <div class="clear"></div> </dt> 
	    				<dd> <a class="activity" href="@{Application.question(activity.id)}">${activity.title}</a></dd>
	    			#{/else}
	    	
	    		#{/list}
	    		</dl>
	    	#{/else}