#{extends 'main.html' /}
#{set 'scripts'}
	#{script 'users.js' /}
#{/set}

<script type="text/javascript">
var userid = ${puser.id};
</script>

<article class="profileHeader">

	<h3>${puser.name}'s Profile #{if puser==user}<a class="editProfile" href="#edit">edit</a>#{/if}</h3>
	
	<dl>
		<dt>Registered since:</dt>
		<dd>${puser.timestamp.format('dd.MM.yyyy')}</dd>
		<dt>Reputation:</dt>
		<dd>${puser.reputation()}</dd>
		#{list items:titles, as:'title'}
			<dt>${title.title}:</dt>
			<dd>
				#{if title.hasUserEntry(puser)}
					${title.findUserEntry(puser).entry}
				#{/if}
				&nbsp;
			</dd>
		#{/list}
	</dl>	

</article>


<div class="profileTabs">
#{tabbar 'profileTabs'}
		#{tab 'Activities', class:"tab" /}
		#{tab 'Questions', class:"tab" /}
		#{tab 'Answers', class:"tab" /}
		#{tab 'Reputation', class:"tab" /}
		#{tab 'Statistics', class:"tab" /}
#{/tabbar}
</div>


<article class="profileContent">

</article>









