<ul id="activities">
		<li><div class="statisticsBox">Number of questions: </div> <div class="statisticsValue"> ${user.getNumberOfQuestions()}</div><div class="clear"></div></li>
  		<li><div class="statisticsBox">Number of answers: </div> <div class="statisticsValue"> ${user.getNumberOfAnswers()}</div><div class="clear"></div</li>
  		<li><div class="statisticsBox">Number of comments: </div> <div class="statisticsValue"> ${user.getNumberOfComments()}</div><div class="clear"></div</li>
  		<li><div class="statisticsBox">Number of votes: </div> <div class="statisticsValue"> ${user.getNumberOfVotes()}</div><div class="clear"></div</li>
</ul>