#{extends 'main.html' /}

#{form @UserFuncs.saveProfile(puser.id) }
<h1>Edit ${puser.name()}'s Profile</h1>


<table class="profile">
<tr>
	<td>Biography: </td> <td><textarea id="biography" name="biography" >${puser.biography}</textarea></td>
</tr>
<tr>
	<td>Life philosophy: </td> 	<td><input type="text" id="lifePhilosophy" name="lifePhilosophy" value="${puser.lifePhilosophy}" /></td
</tr>
<tr>
	<td>Editor of choice: </td> 	<td><input type="text" id="editorOfChoice" name="editorOfChoice" value="${puser.editorOfChoice}" /> </td>
</tr>
</table>

<input type="submit" value="Save" />
#{/form}