#{extends 'main.html' /}

#{set title:puser.name() + '\'s User Profile' /}

<div class="pageContent">

	<h1>
		${puser.name()}'s Profile
		#{if puser==user}
		<span style="font-size: 10px;"><a href="@{UserFuncs.editProfile(user.id)}">edit</a></span>
		#{/if}
	</h1>
	
	<dl>
		#{list items:titles, as:'title'}<tr>
			<dt>${title.title()}:<dd>
			<dd>
				#{if title.hasUserEntry(puser)}
					${title.findUserEntry(puser).entry}
				#{/if}#{else}
					&nbsp;
				#{/else}
			</dd>
		#{/list}
		<dt>Reputation:<dd>
		<dd>${puser.reputation()}</dd>
	</dl>

</div>