#{extends 'main.html' /}

#{form @Application.addUser()}

#{ifErrors}
<div class="error">
<h1>Oooops something went wrong!</h1>
<ul>
	#{errors}
	<li> ${error} </li>
	#{/errors}
</ul>
</div>
<div class="clear"></div>
#{/ifErrors}


<div>Username: </div>
<input type="text" id="username" name="username" value="${username}" />
<div>Email: </div>
<input type="text" id="email" name="email" value="${email}" />
<div>Password:  </div>
<input type="password" id="password" name="password" value="${password}" />
<input type="submit" value="Register" style="margin-top: 5px;" />

#{/form}
