#{extends 'main.html' /}
#{set title:'ajopi' /}

<ul>
#{list items:questions, as:'question'}
	#{entry entry:question, user:user /}
#{/list}
</ul>

#{if user}

	<h1>Ask Question</h1>
	#{form @Secured.newQuestion()}
		#{field 'content'}
			<input type="text" name="title" id="title" value="Title" />
        	<textarea name="${field.name}" class="${field.errorClass}"></textarea>
		#{/field}
		<input type="text" name="tags" id="tags" value="Tags" />
		
	
		
		<input type="submit" value="Post" />
	#{/form}
	 <script type="text/javascript">
		var data = tagsAsString.split(" ");
		var options, a;
		jQuery(function(){
		options = { serviceUrl:'public/javascripts/jquery.autocomplete.js' };
 		a = $('#tags').autocomplete(data);
		});


		</script>

#{/if}

<span style="color: white;">Anzahl User: ${userCount}</span>