#{extends 'main.html' /}
#{set title:'Home' /}

#{set 'controls'}
	<form action="" method="get">
		<input type="search" placeholder="Search" results="5" autocomplete="on" autosave="search" name="search" />
	</form>
	#{tabbar 'filter'}
		#{tab 'Hot' /}
		#{tab 'Mine' /}
		#{tab 'Search' /}
	#{/tabbar}
 #{/set}

#{nav}
	#{list items:questions, as:'question'}
		#{entry entry:question, user:user, display:'nav' /}
	#{/list}
#{/nav}

#{entry entry:questions.get(0), user:user /}
#{list items:questions.get(0).answers, as:'entry'}
	#{entry entry:entry, user:user /}
#{/list}


#{if user}

	<h1>Ask Question</h1>
	#{form @Secured.newQuestion()}
	
		#{field 'content'}
			<input type="text" name="title" id="title" value="Title" />
				
        	<textarea name="${field.name}" class="${field.errorClass}"></textarea>
		#{/field}
		<input type="text" name="tags" id="tags" value="Tags" />
		
	
		
		<input type="submit" value="Post" />
	#{/form}
	 <script type="text/javascript">
	 
	 	$(function () {
			var tags = #{jsAction @Application.getTagList() /};
			
			$('input#tags').autocomplete({
				source: tags(),
				delay: 0,
			});

		});

		</script>

#{/if}

<span style="color: white;">Anzahl User: ${userCount}</span>
