#{extends 'main.html' /}
#{set title:'Questions tagged with ' + tag /}
 
*{********* Title ********* }*
 
#{if questions.size() > 1}
   <h3>There are ${questions.size()} posts tagged '${tag}'</h3>  
#{/if} 
#{elseif questions}
    <h3>There is 1 post tagged '${tag}'</h3>  
#{/elseif}
#{else}
    <h3>No post tagged '${tag}'</h3>
#{/else}
 
*{********* Questions list *********}*
 
<div class="older-posts">    
    #{list items:questions, as:'question'}
        #{display post:post, as:'teaser' /}
    #{/list}
</div> 
