#{extends 'main.html' /}


#{if question}
#{set title:'ajopi - Question by ' + question.owner().name /}
	<ul>
		#{entry entry:question, user:user /}
	</ul>
	
	#{if answers.size() > 0}
		<h1>Answers</h1>
		<ul>
			#{list items:answers, as:'answer'}
				#{entry entry:answer, user:user /}
			#{/list}
		</ul>
	#{/if}
		
	#{if user}
		<h1>Add Answers</h1>
		#{form @Secured.newAnswer(question.id)}
			#{field 'content'}
	        	<textarea name="${field.name}" class="${field.errorClass}"></textarea>
			#{/field}
			<input type="submit" value="Post" />
		#{/form}
		
	#{/if}
	
	
	
	



#{/if}#{else}
	#{set title:'Error' /}
	<h1>Question does not exist.</h1>
#{/else}


