#{extends 'main.html' /}

#{set title:'Results for ' + searchString /}

<script type="text/javascript">
jQuery.fn.highlight = function (str, className)
{
    var regex = new RegExp(str, "g");
    return this.each(function ()

    {
        if (str.length > 0) {
        	this.innerHTML = this.innerHTML.replace(regex, "<span class=\"" + className + "\">" + str + "</span>");
        }
    });

};

$(document).ready(function() {

	$(".hl-content").highlight("${searchString}", "highlight");

})
</script>


#{if results.size!=0}
<h1>Search Results</h1>
<ul>


#{list items:results, as:'entry'}

#{if entry instanceof models.Question}

#{questionResult question:entry /}

#{/if}
#{elseif entry instanceof models.Answer}
#{answerResult answer:entry /}
#{/elseif}



#{/list}

</ul>
#{/if}
#{else}
<h1>There were no search results!</h1>
#{/else}