#{extends 'main.html' /}
#{set title:'Home' /}

#{set 'scripts'}
	#{script 'questions.js' /}
#{/set}


%{
	display = display ? display : questions.get(0)
}%

#{set 'controls'}
	<form id="search">
		<input type="search" placeholder="Search" results="5" autocomplete="on" autosave="search" name="search" />
	</form>
	#{tabbar 'filter'}
		#{tab 'Hot', selected:true /}
		#{tab 'Active' /}
		#{if user}
			#{tab 'Mine' /}
		#{/if}
		#{tab 'Search' /}
	#{/tabbar}
	#{if user}
		#{tabbar 'new'}
			#{tab 'New Question' /}
		#{/tabbar}
	#{/if}
 #{/set}

#{nav}
	#{list items:questions, as:'question'}
		#{entry entry:question, user:user, display:'nav', active:question==display /}
	#{/list}
#{/nav}

#{entry entry:display, user:user /}
#{list items:display.answers, as:'entry'}
	#{entry entry:entry, user:user /}
#{/list}
