#{extends 'main.html' /}
#{set title:'Home' /}

#{set 'scripts'}
	#{script 'questions.js' /}
#{/set}


%{
    if(questions.size()>0) {
	   question = display ? display : questions.get(0)
	}
}%

#{set 'controls'}
	<form id="search">
		<input type="search" placeholder="Search" name="search" />
	</form>
	#{tabbar 'filter'}
		#{tab 'Hot', selected:true /}
		#{tab 'Active' /}
		#{if user}
			#{tab 'Mine' /}
		#{/if}
		#{tab 'Search' /}
	#{/tabbar}
 #{/set}

#{nav}
	#{include 'Questions/list.html' /}
#{/nav}

	
#{set 'topaction'} 	 
	<div id="topaction">
		#{if user}	
			<a class="topaction" href="#newQuestion">New Question</a> 	
		#{/if}
	</div>
#{/set} 	

#{if questions.size()>0}
    #{include 'Questions/question.html' /}
#{/if}
#{elseif user}
    #{entry display:"form", type:"question" /}
#{/elseif}
#{else}

#{/else}
