/*** Global Structure ***/

#all {
	margin: 0 auto;
	width: 960px;
	padding: 20px;
}

	header {
		height: 50px;
		background: green;
	}
	
		nav, article {
			height: 600px;
			overflow: auto;
		}
		
		nav {
			width: 380px;
			background: red;
			float: left;
		}
		
			nav .jspVerticalBar {
				left: 0;
			}
		
		article {
			width: 580px;
			background: blue;
			float: right;
		}
	
	footer {
		
	}