/*** Global Structure ***/

body, html {
	background: #dedede;
	font-size: 16px;
	font-family: Calibri, Helvetica, Arial, sans-serif;
	height: 100%;
}

a {
	text-decoration: none;
	color: #000;	
}

a:hover {
	text-decoration: underline;	
}

input, textarea {
	border: 1px solid black;	
}

	input.placeholder, textarea.placeholder {
		color: #666;
	}
	
	input.error, textarea.error {
		border: 1px solid red;
	}
	
	input.error.placeholder, textarea.error.placeholder {
		color: red;
	}

#all {
	margin: 0 auto;
	width: 960px;
	padding: 20px;
	position: relative;
}

	header {
		height: 30px;
		background: #501e73 url(../images/header.jpg);
		position: relative;
	}
	
		nav, section {
			height: 600px;
			overflow: auto;
		}
		
		nav {
			width: 355px;
			background: #6e6e6e url(../images/shadow.jpg) top right repeat-y;
			padding-right: 25px;
			float: left;
		}
		
			nav .jspVerticalBar {
				left: 0;
			}
		
		section {
			width: 100%;
			background: #803ab4 top left url(../images/retro.jpg);
			float: right;
		}
		
			nav + section {
				width: 580px;	
			}

	
/*** Top Navigation ***/	

#pagecontrols, #sitecontrols {
	position: absolute;
	top: 5px;
}

	#pagecontrols {
		left: 7px;
		top:  4px;
	}
	
		#pagecontrols form, #pagecontrols menu {
			float: left;
			margin-right: 10px;
		}
	
	#sitecontrols {
		right: 7px;
		width: 400px;
	}
	
		#sitecontrols div {
			float: right;
			margin-left: 10px;
		}
		
		#sitecontrols > a {
			color: white;
		}

	input[type=search] {
		background: #fff url(../images/search.png) right center no-repeat;
	}

	
/*** Sidebar navigation ***/

nav a {
	display: block;
	margin: 10px;
	padding: 10px 20px 10px 10px;
	text-decoration: none;
	color: #803ab4;
	background: #fff url(../images/arrow_right_disabled.png) 315px center no-repeat;
}

	nav a.active, nav a:hover {
		background-image: url(../images/arrow_right.png);
	}
	
/*** Dropdown menus ***/

.pulldown, .login {
	display: inline;
	position: relative;
}

	.pulldown a, .login a {
		padding: 2px;
		font-size: 0.8em;
		background: url(../images/header_inv.jpg);
		border-radius: 5px;
		-moz-border-radius: 5px;
		color: #fff;
		text-decoration: none;
		padding: 3px 10px;
	}
	
	.pulldown menu {
		display: none;
		position: absolute;
		background: #6e6e6e;
		width: 200px;
		z-index: 100;
		right: 0;
		margin-top: 7px;
		border-radius: 5px;
		-moz-border-radius: 5px;
		overflow: hidden;
	}
	
		.pulldown li {
			padding: 7px;
		}
		
		.pulldown li a {
			background: none;
			border: 0px;
			padding: 0;		
		}
		
		.pulldown li a:hover {
			text-decoration: underline;
			
		}
	
		.pulldown li:nth-child(2n) {
			background: #666;
		}
		
		.pulldown li:last-child {
			border-bottom-left-radius: 5px;
			-moz-border-radius-bottomleft: 5px;
			border-bottom-right-radius: 5px;
			-moz-border-radius-bottomright: 5px;
		}


/*** Tab bars ***/

.tabbar {
	overflow: hidden;
	border-radius: 5px;
	-moz-border-radius: 5px;
}

	.tabbar li {
		float: left;
		padding: 3px 10px;
		background: url(../images/header_inv.jpg);
	}
	
	.tabbar li:first-child {
		-moz-border-radius-topleft: 5px;
		-moz-border-radius-bottomleft: 5px;
	}
	
	.tabbar li:last-child {
		-moz-border-radius-topright: 5px;
		-moz-border-radius-bottomright: 5px;
	}
		.tabbar li + li {
			margin-left: 1px;
		}
	
	.tabbar a {
		color: #fff;
		text-decoration: none;
		font-size: 0.8em;
	}
				
		.tabbar a.active {
			text-decoration: underline;
		}
	
	
/*** Entries ***/

.entry {
	margin: 10px;
	overflow: hidden;
}

	/*** Vote ***/
	.entry menu {
		float: right;
		width: 30px;
		color: white;
		text-align: center;
		font-size: 1.5em;
	}
	
	.entry a.up, .entry a.down, .entry a.delete {
		width: 10px;
		height: 10px;	
		display: block;	
		margin: 3px auto 2px;
	}
	
		.entry a.disabled {
			cursor:	default;
		}
	
		.entry a.up {
			background: url(../images/arrow_up.png) no-repeat center;
		}
		
			.entry a.up.disabled {
				background: url(../images/arrow_up_disabled.png) no-repeat center;
			}
		
		.entry a.down {
			background: url(../images/arrow_down.png) no-repeat center;
		}
		
			.entry a.down.disabled {
				background: url(../images/arrow_down_disabled.png) no-repeat center;
			}
			
		.entry a.delete {
			background: url(../images/delete.png) no-repeat center;
		}
		
			.entry a.delete.disabled {
				background: url(../images/delete_disabled.png) no-repeat center;
			}
			
	/*** Best Answer ***/
	
	.entry .bestAnswer, .entry .set.bestAnswer:hover {
		background: url(../images/star.png) no-repeat center;
		width: 23px;
		height: 23px;
		display: block;
		position: absolute;
		right: 150px;
		top: 5px;
	}
	
		.entry .set.bestAnswer {
			background: url(../images/star_disabled.png) no-repeat center;
		}
	
	
	/*** Content ***/
	
	.entry p, .entry h3 {
		padding: 10px;
		margin-right: 35px;
		background: rgba(255,254,255,0.59);
		overflow: hidden;
		margin: 0;
		position: relative;
	}
	
		.entry h3 a.owner {
			position: absolute;
			right: 10px;
		}

	.entry p {
		margin-top: 5px;
	}
	
	.tags {
		background: rgba(255,254,255,0.59);
		width: 80px;
		height: 20px;
		margin-top: 5px;
		margin-right: 5px;
		float: left;
		text-align: center;
	}
	

		
/*** Profile ***/

.profileHeader, .profileTabs, .profileContent {
	
	background: rgba(255, 254,255,0.59);
	margin: 15px;
	
	}
	
	.profileHeader h3 {
		margin: 5px;
		padding-top: 5px;
		padding-bottom: 5px;
		border-bottom: 1px solid black;
	}
	
	.profileHeader dl dt {
		line-height: 20px;
		margin-left: 5px;
		width: 200px;
		float: left;
	}
	
	.profileHeader dl dd {
		line-height: 20px;
		margin-left: 250px;
		display: block;
	
	}
	.profileTabs a.tab {
		width: 150px;
		line-height: 20px;
		margin-right: 5px;	
	}
	
/*** Register ***/
form.register {
	font-size: 14px;
	border-radius: 5px; 
	-moz-border-radius: 5px; 
	width: 40%; 
	padding: 5px; 
	text-align: left; 
	background: grey; 
	margin-top: 150px; 
	margin-left: 30%;
	
	}
form div.error {
	font-size: 16px;
	color: red;
	margin-bottom: 15px;
	
	}
