/*** Global Structure ***/

body {
	background: black;
	font-size: 16px;
}

#all {
	margin: 0 auto;
	width: 960px;
	padding: 20px;
	position: relative;
}

	header {
		height: 30px;
		background: #0f0;
		position: relative;
	}
	
		nav, section {
			height: 600px;
			overflow: auto;
		}
		
		nav {
			width: 380px;
			background: red;
			float: left;
		}
		
			nav .jspVerticalBar {
				left: 0;
			}
		
		section {
			width: 100%;
			background: blue;
			float: right;
		}
		
			nav + section {
				width: 580px;	
			}
	
	footer {
		background: yellow;	
	}

	
/*** Top Navigation ***/	

#pagecontrols, #sitecontrols {
	position: absolute;
	top: 7px;
}

	#pagecontrols {
		left: 7px;
		top:  4px;
	}
	
		#pagecontrols form, #pagecontrols menu {
			float: left;
			margin-right: 10px;
		}
	
	#sitecontrols {
		right: 7px;
		width: 400px;
	}
	
		#sitecontrols div {
			float: right;
			margin-left: 10px;
		}

	input[type=search] {
		background: #fff url(../images/search.png) right center no-repeat;
	}

	
/*** Sidebar navigation ***/

nav a {
	display: block;
	margin: 10px;
	padding: 10px;
	background: cyan;
}

	nav a.active {
		background: violet;
	}
	
/*** Dropdown menus ***/

.pulldown {
	display: inline;
	position: relative;
}

	.pulldown a {
		background: white;
		padding: 2px;
		font-size: 0.8em;
	}
	
	.pulldown menu {
		display: none;
		position: absolute;
		background: wheat;
		z-index: 100;
		right: 0;
	}


/*** Tab bars ***/

.tabbar {
	overflow: hidden;
}

	.tabbar li {
		float: left;
		border: 1px solid #000;
		padding: 3px;
		font-size: 0.8em;
	}
	
	
/*** Entries ***/

.entry {
	margin: 10px;
}
	
	.entry p, .entry h3 {
		padding: 10px;
		margin-right: 35px;
		background: magenta;
	}

	.entry p {
		margin-top: 5px;
	}
	
	.entry menu {
		float: right;
		width: 30px;
		color: white;
		text-align: center;
		font-size: 1.5em;
	}
	
		.entry menu command {
			display: block;
		}
