html, body {
	background: 		#00272b;
	font-family: 		Helvetica, Veranda, Arial, sans-serif;
}

body > div {
	background: 		#000;
	margin:				20px auto;
	width: 				690px;
	/*border: 			3px #000 solid;*/
	padding: 			0;
	position: 			relative;
}

a {
	color: 				#ff8400;
	text-decoration: 	none;
	font-weight: 		bold;
}
			
	a:hover {
		color: 				#c71c1c;
	}

header {
	margin: 			0;
}

	header > a {
		display: 			block;
		height: 			131px;
		width: 				250px;
		margin: 			16px;
		background: 		url(../images/logo.png) no-repeat center;
	}

	nav {
		padding: 			5px;
		background: 		#555;
		color: 				#222;
	}
			
		nav span {
			position: 			absolute;
			right: 				5px;
		}
		
			nav span a {
				margin-left: 		5px;
			}
	
article {
	padding: 		10px;
}
	
	h1 {
		color: 				#ff8400;
		font-size: 			1.3em;
		margin-top: 	30px;
	}
	
	ul {
		padding: 			0;
		margin: 			0;
	}

		li {
			background: 		#333;
			list-style: 		none;
			margin: 			10px 0;
			padding: 			7px;
			position: 			relative;
		}
		
			li[onclick] {
				cursor: 			pointer;
			}
		
				li[onclick]:hover {
					background: 		#444;
				}
		
			h2, h3 {
				color: 				#ff8400;
				margin: 			0;
			}
			
			li p {
				color: 				#aecbfb;
			}
			
			.vote, .date{
				position: 			absolute;
				right: 				7px;
			}
				
			.vote {
				bottom: 			7px;
				font-size: 			2em;
			}
			
			.date {
				top:	 			7px;
				color: 				#222;
			}

	

	form, .pageContent {
		background: 		#333;
		margin: 			10px 0;
		padding: 			7px;
		position: 			relative;
		overflow: 		hidden;
	}
	
		h3 {
			padding-top: 		30px;
		}
		
		textarea {
			height: 			50px;
			width: 				300px;
			background: 		#222;
			border: 			1px #000 solid;
			color: 				#aecbfb;
		}
		
		input {
			display: block;
			background: #222;
			color: #aecbfb;
			border: 	1px #000 solid;
		}
		
		input[type="submit"] {
			display: 			block;
		}
		

		
footer {
	text-align: 		right;
	font-size: 			0.7em;
	color: 				#333;
	padding: 			3px;
	background: 		#00272b;
}





header, nav, article, footer {
	display: 			block;
}
/* classes by tschmid */

.error {
	color: red;
	font-weight: bold;
}

dt {
	width: 200px;
	background-color: #333;
	float: left;	
}

dd {
	background-color: #333;
	margin-left: 205px;
	display: block;
}

.clear {
	clear: both;
	width: 0px;
	height: 0px;
	line-height: 0px;
}